:root {
    --primary-color: #5c00dd;
    --primary-color-hover: #3700b3;
    --primary-color-active: #30009c;
    --background-color: #f5f5f5;
    --text-color: #333;
    --header-height: 7vh;
    --font-family: 'Roboto', sans-serif;
    --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    --border-radius: 10px;
    --transition: 0.3s ease;
}