
@import '../main.css';

body {
    overflow-y: hidden;
}

.registration-container {
    background-color: #fff;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    padding: 20px 30px;
    width: 100%;
    max-width: 500px;
    margin: 10vh auto;
}

h2 {
    font-size: 1.5rem;
    color: #212121;
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    position: relative;
}

label {
    font-size: 0.9rem;
    color: #757575;
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="password"], input[type="email"] {
    width: 100%;
    padding: 10px 15px;
    font-size: 1rem;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    transition: border-color var(--transition), transform var(--transition);
    box-sizing: border-box;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus {
    border-color: var(--primary-color);
    box-shadow: none;
}

button[type="submit"] {
    width: 100%;
    padding: 10px 15px;
    font-size: 1rem;
    color: #fff;
    background-color: var(--primary-color);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color var(--transition);
    margin-top: 20px;
}

button[type="submit"]:hover {
    background-color: var(--primary-color-hover);
}

button[type="submit"]:active {
    background-color: var(--primary-color-active);
}

button[type="submit"]:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

@media (max-width: 480px) {
    .registration-container {
        padding: 15px 20px;
    }

    h2 {
        font-size: 1.2rem;
    }

    input[type="text"], input[type="password"], input[type="email"] {
        font-size: 0.9rem;
    }

    button[type="submit"] {
        font-size: 0.9rem;
    }
}
